body {
    font: var(--font-m);
}

.app {
    min-height: 100vh;

    color: var(--text-color);
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    width: 100%;
    padding: 20px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
}
