body {
    font: var(--font-m);
}

.app {
    min-height: 100vh;

    color: var(--text-color);
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    padding: 20px;

    flex-grow: 1;
}
