.root {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 100%;
}

.input {
    margin-top: 10px;

    color: var(--text-color);

    &[name="password"] {
        margin-bottom: 30px;
    }
}

.login-btn {
    padding: 10px;
    width: 150px;
    margin-left: auto;
}
