.error {
    &.title {
        color: var(--red);
    }

    &.text {
        color: var(--red-dark);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}