.root {
    padding-left: 30px;
}

.comment-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}

.avatar {
    margin-right: 15px;
}

.user-name {
    font-size: 18px;
    font-weight: 700;
}