.root {
    position: relative;

    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));

    background: var(--bg-secondary);

    transition: width .2s ease;
}

.items {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: flex-end;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.link {
    position: relative;
    z-index: 1;

    line-height: 1;

    color: var(--text-secondary);
    opacity: 1;

    transform: scale(1);
    transition: opacity .3s ease;
}

.icon {
    position: relative;
    z-index: 2;

    width: 25px;
    margin-right: 15px;

    fill: var(--text-secondary);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .icon {
        margin-right: 0;
    }

    .link {
        font-size: 0;

        opacity: 0;

        transform: scale(0);

        transition: opacity 0.2s ease;
    }
}

.arrow {
    width: 100%;
    height: 100%;

    fill: var(--white);
}

.collapse-btn {
    position: absolute;
    left: calc(100% - 20px);
    bottom: 0;

    border-radius: 10px;
}

.login-btn {
    display: flex;
    align-items: flex-end;

    font: var(--font-m);
}


