.root {
    position: relative;

    padding: 20px;
    overflow: auto;

    width: 65%;

    border: 1px solid var(--icon-color);

    background: var(--code-bg);
}

.copy-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copy-icon path {
    stroke: var(--icon-color);
}
