.root {
    position: relative;

    width: 100%;
    height: 50px;
    overflow: hidden;

    background-color: var(--skeleton-bg);

    &::after {
        content: '';
        position: absolute;
        inset: 0;

        background: var(--skeleton-gradient);

        transform: translateX(-100%);
        animation: shimmer 2s infinite;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
