.dark {
    --bg-color: #032e42;
    --inverted-bg-color: #e1ebf3;
    --text-color: #fff;
    --inverted-text-color: #222;
    --shadow-color: #b9b8b8;

    // skeleton
    --skeleton-bg: #073348;
    --skeleton-gradient: linear-gradient(90deg, rgb(25 69 91 / 0%) 0, rgb(25 69 91 / 20%) 20%, rgb(25 69 91 / 50%) 60%, rgb(25 69 91 / 0%));
}