.light {
    --bg-color: #e1ebf3;
    --inverted-bg-color: #032e42;
    --text-color: #222;
    --inverted-text-color: #fff;
    --shadow-color: #999;

    // skeleton
    --skeleton-bg: #dedede;
    --skeleton-gradient: linear-gradient(90deg, rgb(255 255 255 / 0%) 0, rgb(255 255 255 / 20%) 20%, rgb(255 255 255 / 50%) 60%, rgb(255 255 255 / 0%));
}