.root {
    display: flex;
    width: 100%;
    height: var(--navbar-height);
    padding: 20px;

    align-items: center;

    background: var(--inverted-bg-color);
}

.links {
    margin-left: auto;
}

.main-link {
    margin-right: 15px;
}


